[submodule "vim/pack/plugins/start/vim-sensible"]
	path = vim/pack/plugins/start/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/pack/plugins/start/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
