[submodule "vim/pack/plugins/start/vim-sensible"]
	path = vim/pack/plugins/start/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/pack/plugins/start/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/vim-git"]
	path = vim/pack/plugins/start/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/pack/plugins/start/kwbdi.vim"]
	path = vim/pack/plugins/start/kwbdi.vim
	url = git://github.com/vim-scripts/kwbdi.vim
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "vim/pack/plugins/start/vimtex"]
	path = vim/pack/plugins/start/vimtex
	url = git://github.com/lervag/vimtex
[submodule "vim/pack/plugins/start/ctrlp.vim"]
	path = vim/pack/plugins/start/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/plugins/start/vim-snippets"]
	path = vim/pack/plugins/start/vim-snippets
	url = git://github.com/honza/vim-snippets
[submodule "vim/pack/plugins/start/vim-snipmate"]
	path = vim/pack/plugins/start/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/pack/plugins/start/vim-addon-mw-utils"]
	path = vim/pack/plugins/start/vim-addon-mw-utils
	url = git://github.com/marcweber/vim-addon-mw-utils
[submodule "vim/pack/plugins/start/tlib_vim"]
	path = vim/pack/plugins/start/tlib_vim
	url = git://github.com/tomtom/tlib_vim
[submodule "vim/pack/plugins/start/ghcmod-vim"]
	path = vim/pack/plugins/start/ghcmod-vim
	url = git://github.com/eagletmt/ghcmod-vim
[submodule "vim/pack/plugins/start/neco-ghc"]
	path = vim/pack/plugins/start/neco-ghc
	url = git://github.com/eagletmt/neco-ghc
[submodule "vim/pack/plugins/start/tabular"]
	path = vim/pack/plugins/start/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/pack/plugins/start/vimproc.vim"]
	path = vim/pack/plugins/start/vimproc.vim
	url = git://github.com/Shougo/vimproc.vim
[submodule "vim/pack/plugins/start/vim-hindent"]
	path = vim/pack/plugins/start/vim-hindent
	url = git://github.com/alx741/vim-hindent
[submodule "vim/pack/plugins/start/vim-hdevtools"]
	path = vim/pack/plugins/start/vim-hdevtools
	url = git://github.com/bitc/vim-hdevtools
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/pack/plugins/start/vim-markdown"]
	path = vim/pack/plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/pack/plugins/start/vim-vinegar"]
	path = vim/pack/plugins/start/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "vim/pack/plugins/start/indentpython.vim"]
	path = vim/pack/plugins/start/indentpython.vim
	url = git://github.com/vim-scripts/indentpython.vim
[submodule "vim/pack/plugins/start/vim-flake8"]
	path = vim/pack/plugins/start/vim-flake8
	url = git://github.com/nvie/vim-flake8
[submodule "vim/pack/plugins/start/Zenburn"]
	path = vim/pack/plugins/start/Zenburn
	url = git://github.com/jnurmine/Zenburn
[submodule "vim/pack/plugins/start/ack.vim"]
	path = vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/pack/plugins/start/neocomplete.vim"]
	path = vim/pack/plugins/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/pack/plugins/start/YouCompleteMe"]
	path = vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/pack/plugins/start/delimitMate"]
	path = vim/pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/pack/plugins/start/jedi-vim"]
	path = vim/pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim/
[submodule "vim/pack/plugins/start/indentLine"]
	path = vim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vim/pack/plugins/start/vim-multiple-cursors"]
	path = vim/pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "vim/pack/plugins/start/vim-python-pep8-indent"]
	path = vim/pack/plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "vim/pack/plugins/start/vim-buftabline"]
	path = vim/pack/plugins/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "vim/pack/plugins/start/vim-gutentags"]
	path = vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/pack/plugins/start/SimpylFold"]
	path = vim/pack/plugins/start/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
