[submodule "vim/pack/plugins/start/vim-sensible"]
	path = vim/pack/plugins/start/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/pack/plugins/start/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/vim-git"]
	path = vim/pack/plugins/start/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/pack/plugins/start/kwbdi.vim"]
	path = vim/pack/plugins/start/kwbdi.vim
	url = git://github.com/vim-scripts/kwbdi.vim
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "vim/pack/plugins/start/vimtex"]
	path = vim/pack/plugins/start/vimtex
	url = git://github.com/lervag/vimtex
[submodule "vim/pack/plugins/start/ctrlp.vim"]
	path = vim/pack/plugins/start/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/plugins/start/neocomplete.vim"]
	path = vim/pack/plugins/start/neocomplete.vim
	url = git://github.com/Shougo/neocomplete.vim
[submodule "vim/pack/plugins/start/vim-snippets"]
	path = vim/pack/plugins/start/vim-snippets
	url = git://github.com/honza/vim-snippets
[submodule "vim/pack/plugins/start/vim-snipmate"]
	path = vim/pack/plugins/start/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/pack/plugins/start/vim-addon-mw-utils"]
	path = vim/pack/plugins/start/vim-addon-mw-utils
	url = git://github.com/marcweber/vim-addon-mw-utils
[submodule "vim/pack/plugins/start/tlib_vim"]
	path = vim/pack/plugins/start/tlib_vim
	url = git://github.com/tomtom/tlib_vim
[submodule "vim/pack/plugins/start/ghcmod-vim"]
	path = vim/pack/plugins/start/ghcmod-vim
	url = git://github.com/eagletmt/ghcmod-vim
[submodule "vim/pack/plugins/start/neco-ghc"]
	path = vim/pack/plugins/start/neco-ghc
	url = git://github.com/eagletmt/neco-ghc
[submodule "vim/pack/plugins/start/tabular"]
	path = vim/pack/plugins/start/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/pack/plugins/start/supertab"]
	path = vim/pack/plugins/start/supertab
	url = git://github.com/ervandew/supertab
[submodule "vim/pack/plugins/start/vimproc.vim"]
	path = vim/pack/plugins/start/vimproc.vim
	url = git://github.com/Shougo/vimproc.vim
[submodule "vim/pack/plugins/start/vim-hindent"]
	path = vim/pack/plugins/start/vim-hindent
	url = git://github.com/alx741/vim-hindent
